extend layout
block content
    script(src="/javascripts/crafty.js")
    script(src="/javascripts/tweener.js")
    script(src="/javascripts/scenes.js")
    script(src="/javascripts/components.js")
    script(src="/javascripts/game.js")
    script(type='text/javascript').
      window.addEventListener('load', Game.start)
    style(type="text/css", media="screen").
      #cr-stage
